.footer{
    background-color: rgb(55, 63, 113);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    text-align: center;
    padding-top: 25px;
    font-weight:bold ;
    color: #e0cbcb;
}